body {
	background: #f9e933;
	font-family: 'Droid', sans-serif;
}

/* Set heading fonts to Ubuntu */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
}

header, main, footer {
	min-width: 855px;
	overflow: auto;
	padding: 25px 0;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	border-bottom: 1px solid rgb(211,211,211);
}

header h1 {
	float: left;
	width: 570px;
	font-style: italic;
	font-size: 3em;
	color: rgb(168, 0, 25);

}

h2 {
	font-size: 2em;
	margin-bottom: 10px;
}

main h3 {
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-top: 20px;
}


footer h5 {
	font-size: 1.3em;
	margin-bottom: 20px;
}

p {
	font-size: 1.05em;
	margin-bottom: 5px;
	line-height: 1.1em;

}

dt, dd {
	line-height: 1.2em;
}

dt {
	color: rgb(255,0,0);
}

li {
	font-size: 1.05em;
	margin-bottom: 3px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	padding: 25px;
}

a {
	color: rgb(255,0,0);
	text-decoration: none;
	font-weight: bold;
}

main .left {
	float: left;
	width: 570px;
}

main .right {
	float: right;
	width: 285px;
	text-align: center;
}

.contact {
	float: left;
	width: 570px;
}

.contact p:first-of-type{
	color: rgb(168, 0, 25);
	font-style: italic;

}

.sitemap {
	float: right;
	width: 285px;
}

ul .left{
	float: left;
}

ul .right{
	float: right;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

main .content {
	padding: 30px 10px 30px 10px;
	border-radius: 0 5px 5px 5px;
	background: #eee;
}

main .content li {
	border-radius: 5px;
	padding: 3px;
	background: #eff;
	margin-bottom: 10px;
}